/ServidorWeb/nbproject/private/
/ServidorWeb/build/
/ServidorWeb/dist/

/ServidorCentral/nbproject/private/
/ServidorCentral/build/
/ServidorCentral/dist/

/TestConsumirApiSOAP/nbproject/private/
/TestConsumirApiSOAP/build/
/TestConsumirApiSOAP/dist/
