#bodyActualizarSuscripcion {
    background-color: #fff;
    color: #000;
    margin: 0;
}

.suscripcionOk {
    border-bottom: 2px solid green;
    box-shadow: 0 4px 4px rgba(0,0,0,0.20);

}

.suscripcionNotOk {
    border-bottom: 2px solid var(--color-red-error);
    box-shadow: 0 4px 4px rgba(0,0,0,0.20);
}

.formContainer {
    border:1px solid var(--l-color-grey-accent);
    border-radius: var(--l-border-radius-containers);
    background-color: var(--l-bg-color-2); 
    box-shadow: -1px 1px 1px rgba(0,0,0,0.20);
    padding: 1rem 2rem;
    margin: 1rem 0;
}

.opcionesContainer {
    padding: 2rem .5rem;
    border:1px solid var(--l-color-grey-accent);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.20);
    border-radius: var(--l-border-radius-containers);
    background-color: var(--l-bg-color-2); 
    margin: 1rem 0;
}

.btnsContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .7rem 0;
    padding: .5rem 1rem;
    background-color: var(--l-bg-color-3);
    border:1px solid var(--l-color-grey-accent);
    box-shadow: -1px 1px 1px rgba(0,0,0,0.20);
    border-radius: var(--l-border-radius-containers);
}

.inputsContainer input {
    min-width: 30%;
}