table {
    margin: 20px 0;
}
td {
    padding: 8px;
    vertical-align: middle;
}
.error {
    color: red;
}
.artista-info {
    display: none;
}
/* Flexbox para contenedor del formulario y canvas */
.form-canvas-container {
    display: flex;
    gap: 40px; /* Espacio entre el formulario y el canvas */
    align-items: flex-start; /* Alinear en la parte superior */
}
/* Estilos del canvas */
canvas {
    border: 1px solid black;
    display: block;
}

