
.hidden {
    display: none;
}

.visible-block {
    display: block;
}

.btncustom {
    font-size: 1em;
    font-weight: 400;
    padding: .5rem .8rem;
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-btns);
}

.btncustom:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.btnPrimary {
    color: black;
    font-weight: 600;
    background-color: var(--color-white);
    border: 1px solid var(--bg-color-dark-5);
}

.btnPrimary:hover {
    color: var(--color-white);
    background-color: var(--bg-color-dark-5);
    border: 1px solid var(--color-grey-accent);
}

.btnSecondary {
    color: var(--color-white);
    background-color: var(--bg-color-dark-4);
    border: 1px solid var(--color-grey-accent);
}

.customModal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.6);
}

.modalContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: var(--color-white);
  justify-content: space-evenly;
  text-align: center;
  background-color: var(--bg-color-dark-3);
  margin: 15% auto;
  padding: 1rem;
  border: 2px solid var(--color-grey-accent);
  width: 80%;
  max-width: 900px;
  border-radius: var(--border-radius-containers);
  box-shadow: 2px 2px 10px var(--color-grey-accent);
}

.modalContainer p {
    font-size: 1rem;
    font-weight: bold;
    flex-basis: 100%;
}

.modalContainer .btncustom {
    margin: 0 1rem;
}

.inputValidated:valid {
    border: 2px solid var(--color-green-primary);
}

.inputValidated:invalid {
    border: 2px solid var(--color-red-error);
}
