@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import "consultaPerfilUsuario.css";

body {
    margin: 0;
    background-color: var(--black);
}

.container {
    padding: 20px;
    background-color: var(--dark-gray);
    margin: auto;
    margin-top: 1.5%;
    border-radius: 10px;
    height: 700px;
    width: 800px;
    border: 1px solid var(--other-gray);
}

.container .top-info {
    padding: 20px;
    background-color: var(--black);
    margin: auto;
    margin-top: 15px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid var(--other-gray);
    box-shadow:-1px 1px 1px rgba(0,0,0,0.20);
    display: flex;
    flex-direction: row;
}

.top-info .perfil-imagen {
    width: 100px;         /* Ajusta el ancho de la imagen */
    height: 100px;        /* Ajusta la altura de la imagen */
    border-radius: 50%;   /* Convierte la imagen en circular */
    object-fit: cover;    /* Asegura que la imagen se ajuste bien dentro del contenedor circular */
    border: 2px solid var(--other-gray);
}

.usuario-info {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    margin-left: 1.5rem;
    text-align: left;
}

.rol {
    margin: 0;
    padding: 0;
    margin-top: -5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: var(--white);
}

.nombre-usuario {
    margin: 0;
    margin-top: 5px;
    position: relative;
    padding: 0;
    font-family: 'Montserrat',monospace;
    font-size: 24px;
    color: var(--white);
/*    margin-top: -10px;
    margin-left: -36px;*/
}

.btn-webPage {
    margin: 0;
    margin-top: 5px;
    position: relative;
    width: 20px;
    height: 20px;
    font-family: 'Montserrat',monospace;
    font-size: 14px;
    color: var(--blue);
    text-decoration: none;
}

.btn-webPage:hover {
    text-decoration: underline;
}

.boton-seguimiento {
    margin: 0;
    margin-top: 5px;
    position: relative;
    padding: 5px 10px;
    font-family: 'Montserrat',monospace;
    font-size: 14px;
    color: var(--white);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.boton-seguimiento:hover {
    cursor: pointer;
    background-color: var(--other-gray);
}

.boton-BajaArtista {
    margin: 0;
    margin-top: 5px;
    position: relative;
    padding: 5px 10px;
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    color: var(--white);
    border: 1px solid var(--dark-gray);
    border-radius: 10px;
    background-color: var(--dark-gray);
}

.boton-BajaArtista:hover {
    cursor: pointer;
    background-color: var(--other-gray);
}

.overlay {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté encima de todo el contenido */
}

.cartel-confirmacion {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el cartel */
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    font-family: 'Montserrat', monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    z-index: 1001; /* Un nivel más alto que el overlay */
}

.cartel-confirmacion p {
    margin: 0;
    text-align: center;
    color: var(--black);
    font-family: 'Montserrat', monospace;
    font-weight: bold;
}

.boton {
    background-color: var(--spotify-green);
    color: var(--black);
    border: none;
    padding: 10px;
    margin-top: 15px;
    font-family: 'Montserrat', monospace;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 15px;
}

.boton:hover {
    background-color: var(--hover-green);
}

.cancelar-btn {
    background-color: var(--red);
}

.cancelar-btn:hover {
    background-color: var(--hover-red);
}

.tabs {
   margin-top: 15px;
}

h3{
    font-family: 'Montserrat', monospace;
    font-style: italic;
    font-size: 16px;
    color: var(--white);
    padding: 0;
    margin-left: 20px;
}

p {
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    color: var(--white);
    padding: 10px;
    margin-top: -20px;
    margin-left: 70px;
}

/*-----Followers List-----*/
.followers-list {
    width: 100%;
    border-collapse: collapse;
}

.followers-list .followers-info {
    margin-top: 50px;
    margin-left: 120px;
    font-style: normal;
}

.followers-list table {
    margin-top: 0px;
    margin-left: 120px;
}

.followers-list th, .followers-list td {
    border: 1px solid var(--dark-gray);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    color: var(--white);
}

.followers-list th {
    background-color: var(--medium-gray);
    color: var(--black);
}

/*-----Albumes Publicados-----*/

.lista-albumesP {
    width: 100%;
    border-collapse: collapse;
}

.lista-albumesP a {
    color: var(--white);
    text-decoration: none;
}

.lista-albumesP a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.registros {
    margin-top: -30px;
}

.lista-albumesP .albumes-info {
    margin-top: 30px;
    margin-left: 300px;
    font-style: normal;
}

.lista-albumesP table {
    margin-top: 0px;
    margin-left: 270px;
}

.lista-albumesP th, .lista-albumesP td {
    border: 1px solid var(--other-gray);
    padding: 5px;
    text-align: left;
    font-family: 'Montserrat', monospace;
    font-size: 14px;
    color: var(--black);
}

.lista-albumesP th {
    background-color: var(--medium-gray);
}

.tab .divisor {
    border-top: 1px solid var(--other-gray);
    width: 100%;
    margin: 40px 0;
}




