/*----- Tabs -----*/
.tabs {
    width:100%;
    display:inline-block;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
    display:block;
    clear:both;
    content:'';
}

.tab-links li {
    margin:0px -5px;
    float:left;
    list-style:none;
    
}

.tab-links a {
    padding:9px 15px;
    padding-right: 30px;
    display:inline-block;
    border-radius:0px 30px 0px 0px;
    box-shadow:-1px -1px 1px rgba(0,0,0,0.20);
    background: var(--black);
    font-size:14px;
    font-weight:600;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--white);
    transition:all linear 0.15s;
    text-decoration: none;
}

.tab-links a:hover {
    background: var(--dark-gray);
    text-decoration:none;
}

li.active a, li.active a:hover {
    background-color: var(--medium-gray);
    color: var(--black);
}

/*----- Content of Tabs -----*/
.tab-content {
    padding: 20px;
    margin: auto;
    margin-top: -16px;
    border-radius:10px;
    border: 1px solid var(--other-gray);
    box-shadow:-1px 1px 1px rgba(0,0,0,0.20);
    background: var(--black);
    height: 420px;
    width: 90%;
    overflow-y: auto;
}

.tab-content::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
}

.tab-content::-webkit-scrollbar-track {
    background-color: transparent; /* Color del track (fondo de la barra) */
}

.tab-content::-webkit-scrollbar-thumb {
    background-color: var(--medium-gray); /* Color del "thumb" (la parte que se mueve) */
    border-radius: 10px; /* Bordes redondeados */
}

.tab-content::-webkit-scrollbar-thumb:hover {
    background-color: var(--light-gray); /* Color del "thumb" cuando el cursor está sobre él */
}

.tab {
    display:none;
}

.tab.active {
    display:block;
}