@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');
@import "headerConSesion.css";
@import "headerSinSesion.css";


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f8f9fa;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo i {
    font-size: 2.8em; /* Tamaño del icono */
    color: #000; /* Color del icono de Spotify */
    margin-right: 10px; /* Espacio entre el icono y el resto del logo */
}

.logo-text {
    font-size: 2em; /* Tamaño del texto */
    font-family: 'Montserrat', sans-serif;
    color: #000; /* Color del texto */
    font-weight: bold; /* Negrita */
    margin-right: 12px;
}

.barra-busqueda {
    display: flex;
    align-items: center;
    position: relative;
    width: 550px;   
}

.barra-busqueda form {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%; 
}

.barra-busqueda input {
    flex: 1;
    min-width: 150px;         /* No permite que el input de busqueda se achique a menos de 150px */
    width: 100%;              /* Ocupa todo el ancho del contenedor */
    padding: 10px 40px;      /* Espaciado interno */
    border: 1px solid #000;   /* Borde */
    border-radius: 20px 0 0 20px;      /* Esquinas redondeadas */
    background-color: #fff; /* Fondo oscuro */
    color: #000;             /* Color del texto */
    font-size: 16px;          /* Tamaño de la fuente */
    box-sizing: border-box;
}

.barra-busqueda i {
    position: absolute;        /* Posiciona el icono absolutamente */
    left: 15px;               /* Espacio desde la izquierda */
    top: 20px;                 /* Centra verticalmente */
    transform: translateY(-50%); /* Ajusta para centrar */
    color: #000;              /* Color del icono */
}

/* SELECT FILTRO */
#filtro {
    padding: 12px 2px 12px 2px;
    display :flex;
    left: 350px;
    text-align: center;
    font-size: 10px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 0 20px 20px 0;
    appearance: none;
    border-left: none;
    box-sizing: border-box;
}

#filtro:hover {
    cursor: pointer;
}

option {
    font-family: 'Monospace';
    font-size: 10px;
    color: #000;
}

option:hover {
    background-color: #F8F9FA;
}

.boton-buscar {
    padding: 10px 15px;     /* Espaciado interno */
    border: 1px solid #000;           /* Sin borde */
    border-radius: 20px; /* Esquinas redondeadas (derecha) */
    background-color: #fff; /* Color verde de Spotify */
    color: #000;           /* Color del texto */
    cursor: pointer;        /* Cambia el cursor al pasar */
    font-size: 16px;        /* Tamaño de la fuente */
    margin-left: 8px;
    display: flex;          /* Asegúrate que el botón se alinee correctamente */
    align-items: center;    /* Centrar el contenido del botón */
}

.boton-buscar:hover {
    background-color: #f8faf9; /* Color al pasar el ratón */
    border: 1px solid #000;
}

/*.mi-boton:active {
    background-color: #004085; // Color de fondo al hacer clic
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); // Sombra más sutil
}*/