@import "variablesColores.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap');

body {
    background-color: var(--black);
}

.btnVolver {
    font-size: 1.2em;
    margin: 1rem .5rem;
    padding: .5rem 1rem;
    border-radius: var(--border-radius-btns);
    background-color: var(--bg-color-dark-2);
    color: var(--color-white);
}

.btnVolver:hover {
    color: #000;
    background-color: var(--color-white);
}

.overlay {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
    z-index: 1000; /* Asegura que esté encima de todo el contenido */
}

.cartel {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el cartel */
    background-color: var(--light-gray);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    z-index: 1001; /* Un nivel más alto que el overlay */
}

.cartel h2 {
    font-family: 'Montserrat', monospace;
}

.cartel p {
    font-family: 'Montserrat', monospace;
}

.cartel button {
    padding: 5px 10px;
    font-family: 'Montserrat', monospace;
    font-weight: bold;
    border: 1px solid var(--other-gray);
    border-radius: 15px;
    background-color: var(--other-gray);
}

.cartel button:hover {
    cursor: pointer;
    background-color: var(--medium-gray);
    border: 1px solid var(--medium-gray);
}

/*----- Tabs -----*/
.tabs {
    display: flex; /* Cambia a flexbox */
    justify-content: center;
    margin-top: 50px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links {
    display: flex; /* Usar flexbox para los links */
    flex-direction: column; /* Alinear en columna */
    margin-right: -5px;
}

.tab-links li {
    margin: 0px 5px;
    list-style: none;
    width: 120px; /* Cambia este valor al ancho deseado */
    border-radius: 5px;
}

.tab-links a {
    padding: 9px 15px;
    display: block; /* Cambia a block para que el ancho se aplique */
    border-radius: 15px 0px 0px 15px;
    background: var(--bg-color-dark-3);
    font-size: 16px;
    font-weight: 600;
    font-family: bold;
    color: var(--color-white);
    text-decoration: none;
    transition: all linear 0.15s;
    text-align: center; /* Centra el texto */
}

.tab-links a:hover {
    background: var(--color-grey-accent);
    color: #000;
    text-decoration: none;
}

li.active a, li.active a:hover {
    background: var(--dark-gray);
    color: #000;
    border: 1px solid var(--other-gray);
}

/*----- Content of Tabs -----*/
.tab-content {
    color: var(--color-white);
    padding: 0 1rem;
    max-height: 700px;
    border: 1px solid #ccc;
    width: 70%;
    border-radius: var(--border-radius-containers);
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: var(--bg-color-dark-4);
    overflow-y: auto;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

.reproductor {
    display: flex;
    margin-top: 50px;
    padding: 0;
    height: 700px;
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
    background: #fff;
}

h1, h2, h3 {
    text-align: center;
    margin: 1rem 0;
    font-weight: bold;
}

@media screen and (max-width:720px) {
    .tabs {
        display:flex;
        flex-direction: column;
        padding: 0 1rem;
        margin: 1rem 0;
    }
    .tab-content {
        width: 100%;
        margin: 1rem auto;
    }
    .tab-links {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
    }
    .tab-links li {
        width: 100%;
    }
    .tab-links li.active a {
        color: var(--color-white);
        background-color: var(--bg-color-dark-1);
        border: 2px solid var(--color-green-primary);
    }
    .tab-links li a {
        border-radius: 0px;
    }
    a[href="#tab4"] {
        display: none;
    }
    #tab4 {
        display: none;
    }
}

#sugerencias-titulo {
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
    padding: 0;
    text-align: left;
    letter-spacing: 2px;
    font-family: 'Arial', sans sherif;
    font-size: 26px;
}

.tab .divisor {
    display: flex;
    border-top: 1px solid var(--other-gray);
    width: 95%;
    margin: 20px 15px;
}

.tabla-topTemas {
    margin: 0;
    margin-left: 30px;
    margin-right: 30px;
    border-collapse: collapse;
}

.tabla-topTemas th {
    text-align: left;
    font-family: 'Montserrat', monospace;
    vertical-align: middle;
}

.tabla-topTemas td {
    padding: 5px;
    text-align: left;
    font-family: 'Montserrat', monospace;
    border-top: 1px solid var(--other-gray);
    border-bottom: 1px solid var(--other-gray);
    vertical-align: middle;
}

.more-info {
    padding: 5px;
    font-size: 22px;
    color: var(--black);
    border: none;
    border-radius: 5px;
    letter-spacing: -1px;
    position: relative;
    cursor: pointer;
}

/* Estilo para la información extra */
.extra-info {
    display: none;
    position: absolute;
    left: -120px;
    top: 50%;
    margin-top: 10px;
    font-size: 14px;
    background-color: var(--medium-gray);
    border: 2px solid var(--spotify-green);
    border-radius: 2px;
    color: var(--black);
    z-index: 10000;
}

.more-info i {
    color: var(--white);
}

.extra-info ul li {
    padding: 5px;
    padding-right: 10px;
    margin: 0;
    margin-left: -30px;
    list-style-type: none;
    text-align: left;
    white-space: nowrap;
}

.extra-info .div #divisor {
    padding: 0;
    margin: 0;
}


