.navCustom {
    color: var(--color-white);
    background-color: var(--bg-color-dark-5);
    border-bottom: 1px solid var(--color-grey-accent);
    font-size: .8em;
    font-weight: 600;
}

.navCustomUl {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: 0;
}

.navCustomUl li {
    margin: 0 .5rem;
    padding: .5rem 0;
}

.navCustomUl li a {
    text-decoration: none;
    padding: 0 1rem;
    color: var(--color-white);
}

.navCustomUl li a:hover {
    text-decoration: underline;
}

.navCustomUl li a:visited {
    color: inherit;
}