.contenedor-listas {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    gap: 20px; /* Espacio entre los contenedores */
}

.lista-contenedor {
    padding: 15px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del rectángulo */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #f9f9f9; /* Color de fondo */
}

.nickname {
    flex: 1; /* Permite que el contenedor del nickname tome espacio */
}

.listas-privadas {
    flex: 1; /* Permite que el contenedor de listas privadas tome espacio */
}

 #listasPrivadas {
        list-style-type: none; /* Elimina los puntos de la lista */
        padding: 0; /* Elimina el padding por defecto */
        margin: 0; /* Elimina el margin por defecto */
    }

button {
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a4a4a;
}




body {
    background-color: #e6f7ff; /* Color azul claro para el fondo del body */
    margin: 0; /* Elimina el margen por defecto */
    font-family: Arial, sans-serif; /* Fuente básica */
}

header {
    background-color: #d9d9d9; /* Fondo gris claro para el header */
    padding: 20px; /* Espacio interno */
    text-align: center; /* Centrar el texto */
}

.main-container h1 {
    margin: 0; /* Elimina el margen del título */
}

form {
    padding: 20px; /* Espacio interno para el formulario */
    border-radius: 8px; /* Esquinas redondeadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    background-color: #fff; /* Fondo blanco para el formulario */
    max-width: 600px; /* Ancho máximo del formulario */
    margin: 20px auto; /* Centra el formulario horizontalmente */
}

.contenedor-listas {
    display: flex; /* Usar flexbox para alinear los elementos horizontalmente */
    gap: 20px; /* Espacio entre los contenedores */
}

.lista-contenedor {
    padding: 15px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del rectángulo */
    border-radius: 5px; /* Esquinas redondeadas */
    background-color: #f9f9f9; /* Color de fondo de las listas */
}

.nickname, .listas-privadas {
    flex: 1; /* Permite que ambos contenedores tomen espacio */
}

