

/* Estilos de flexbox para asegurarse de que las listas tengan la misma altura */
.contenedor-listas {
    display: flex;
    gap: 20px; /* Espacio entre las listas */
}

.lista-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; /* Hace que todas las listas crezcan uniformemente */
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 10px;
}

/* Añadir estilo para mostrar que es interactivo */
.selectable {
    cursor: pointer;
    padding: 5px;
    list-style-type: none;
}

.selectable:hover {
    background-color: #ddd;
}

/* Estilo para los elementos seleccionados */
.selected {
    background-color: #b3d9ff;
}
 body {
    font-family: Arial, sans-serif; 
    background-color: #e0f7fa; /* Azul muy claro */
    margin: 0; /* Elimina el margen predeterminado del body */
}

header {
    background-color: lightgray; /* Color de fondo gris claro */
    padding: 20px; /* Espaciado interno */
    margin: 0; /* Elimina el margen superior e inferior */
}

h1 {
    color: black; /* Color del texto */
    margin: 0; /* Elimina el margen del h1 */
    background-color: lightgray; /* Color de fondo gris claro */
}

.main-container {
    text-align: center;
    background-color: #e0f7fa; /* Azul muy claro */
    color: #5a5a5a;
}


button {
    background-color: #5a5a5a;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4a4a4a;
}

