
.audioPlayerContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-4);
    color: var(--color-white);
    padding: 1.5rem 1rem;
    margin: 1rem;
    max-width: var(--audio-player-max-width);
}

.audioPlayerContainer audio {
    max-width: var(--audio-player-max-width);
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.audioPlayerContainer iframe {
    max-width: var(--audio-player-max-width);
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.audioPlayerContainer .portada {
    display: inline-block;
    width: 100%;
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    margin: 0 auto;
}

.audioPlayerContainer p {
    margin: auto auto;
    padding: .5rem .2rem;
    font-weight: bold;
    font-size: 1rem;
}


.audioPlayerContainer a {
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
    padding: 0 .5rem;
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-wrap: pretty;
    text-align: center;
}

.audioPlayerContainer a:visited {
    color: var(--color-white);
}

.btnsPlaylistContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.btnsPlaylist i {
    font-size: 1.4em;
    font-weight: bold;
    color: var(--color-white);
}

.dropdownMenu {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display:none;
    position: absolute;
    background-color: var(--bg-color-dark-4);
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    color: var(--color-white);
    z-index: 1;
    padding: .5rem 1rem;
    width: 220px;
    overflow: auto;
}

.dropdownContent a {
    margin: .3rem auto;
    font-size: 1em;
}


.temaPerteneceALista {
    color: var(--color-green-primary);
}

.temaPerteneceALista::after {
    color: var(--color-red-error);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    content: '-';
}

.temaNoPerteneceALista::after {
    color: var(--color-green-primary);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    content: '+';
}

.hidden {
    display:none;
}

.visible-block {
    display:block;
}