
.audioPlayerContainer {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-4);
    color: var(--color-white);
    padding: 1.5rem 1rem;
    margin: 1rem;
    max-height: 470px;
    max-width: var(--audio-player-max-width);
    font-family:  var(--l-font-family);
}

.audioPlayerContainer audio {
    margin: 0 auto;
    max-width: var(--audio-player-max-width);
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.audioPlayerContainer iframe {
    max-width: var(--audio-player-max-width);
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.audioPlayerContainer .portada {
    display: inline-block;
    width: 100%;
    max-height: 250px;
    border: 1px solid var(--color-green-primary);
    border-radius: var(--border-radius-containers);
    margin: 0 auto;
}

.audioPlayerContainer p {
    margin: auto auto;
    padding: .5rem .2rem;
    font-weight: bold;
    font-size: 1rem;
}


.audioPlayerContainer a {
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
    padding: 0 .5rem;
    display: block;
    color: var(--color-white);
    text-decoration: none;
    text-wrap: pretty;
    text-align: center;
}

.audioPlayerContainer a:visited {
    color: var(--color-white);
}

.btnsPlaylistContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    background-color: var(--bg-color-dark-3);
}

.btnsPlaylist i {
    display: inline-block;
    font-size: 1.4em;
    margin: 0 20px;
    font-weight: bold;
    color: var(--color-white);
}

.btnsPlaylist #downloadAnchor {
    display:inline-block;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: none;
}

.dropdownMenu {
    position: relative;
    display: inline-block;
    cursor: default;
}

.dropdownContent {
    position: absolute;
    left: -200px;
    top: -100px;
    background-color: var(--bg-color-dark-4);
    border: 1px solid var(--color-grey-accent);
    border-radius: var(--border-radius-containers);
    color: var(--color-white);
    z-index: 999;
    padding: .5rem 1rem;
    min-width: 200px;
    max-width: 300px;
    overflow: auto;
    cursor: default;
}

.dropdownContent a {
    margin: .3rem auto;
    font-size: .8em;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.20);
    cursor: pointer;
}


.temaPerteneceALista {
    color: var(--color-green-primary);
}

.temaPerteneceALista::after {
    font-family:'Bootstrap-icons';
    color: var(--color-red-error);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    content: '\F2E9';
}

.temaNoPerteneceALista::after {
    font-family:'Bootstrap-icons';
    color: var(--color-green-primary);
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 1em;
    content: '\F4FD';
}