
table {
    width: 100%;
}

td {
    padding: 10px;
    vertical-align: middle;
}

label {
    display: inline-block;
    width: auto;
}

select {
    margin-left: 0;
}

/* Añadir más espacio entre el primer y segundo conjunto */
tr td:first-child {
    padding-bottom: 100px; /* Aumenta el valor para más espacio */
}
 body {
     font-family: Arial, sans-serif; 
     background-color: #e0f7fa; /* Azul muy claro */
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}