/* Colores principales */
:root {
    --spotify-green: #1ED760;
    --black: #000;
    --white: #FFFFFF;
    --dark-gray: #2a2a2a;
    --medium-gray: #B3B3B3;
    --light-gray: #E0E0E0;
    --red: #d9534f;
    --blue: #0056b3;
    --other-gray: #444444;
    --hover-green: #45a049;
    --hover-red: #9c3b3b;
}